.vercel
*.log
*.pyc
__pycache__

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# flask gitignore templates
.idea/
.vscode/
__pycache__/
.tox/
.coverage
.coverage.*
htmlcov/
docs/_build/
dist/